/*#region reset css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*#endregion reset css */

/*#region common styles */
.py-38 {
    padding: 38px 0;
}

.container {
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

/*#endregion common styles */

/*#region header */
.header .container {
    display: flex;
    width: 1830px;
    align-items: center;
}

.header-logo {
    margin-right: 46px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
    margin-right: 32px;
}

.header-list-item {
    display: flex;
}

.header-list-link {
    padding: 38px 0;
}

.header-socials {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 32px;
}

.header-socials-item {
    display: flex;
}

/*#endregion header */

/*#region section 1 */

/*#endregion section 1 */

/*#region section 2 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section {
    padding: 150px 0;
}

.second-section-list {
    display: flex;
    gap: 105px;
    flex-wrap: wrap;
}

.second-section-item {
    display: flex;
    flex-direction: column;
    max-width: calc((100% - 2 * 105px) / 3);
}

.second-section-image {
    margin-bottom: 26px;
}

.second-item-heading {
    margin-bottom: 11px;
}

.second-item-description {
    margin-bottom: 30px;
}

/*#endregion section 2 */

/*#region section 3 */
.third-section {
    background: #ebf3f5;
}

.third-section .container {
    padding-bottom: 150px;
    padding-top: 150px;
    display: flex;
    gap: 150px;
}

.third-section .aboutus-left {
    display: flex;
    flex-direction: column;
}

.aboutus-paragraph {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    line-height: 154%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #5c8692;
    margin-bottom: 9px;
}

.aboutus-header {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 45px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #141414;
    margin-bottom: 16px;
}

.aboutus-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    color: #555;
    margin-bottom: 37px;
}

.services-list {
    padding-inline-start: 0px;
    display: flex;
    gap: 10px;
}

.services-item {
    display: flex;
    border: 1px solid #1e2c30;
    padding: 21px 11px;
    width: 165px;
    height: 180px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services-item-icon {
    margin-bottom: 14px;
}

.services-item-paragraph {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: #141414;
}

.third-section .aboutus-right {
    position: relative;
}

.right-picture {
    width: 505px;
    height: 576px;
    display: block;
    z-index: 1;
    position: relative;
}

.third-section .aboutus-right::before {
    content: "";
    width: 505px;
    height: 576px;
    background-color: #84A8B2;
    display: block;
    position: absolute;
    top: -38px;
    right: -48px;
}

/*#endregion section 3 */